In [1]:
import pandas as pd

/var/folders/kh/jnjl8xl119q558cgvkygcs8m0000gn/T/ipykernel_64863/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [4]:
contains = pd.read_csv("bulk_data/contains.csv", header=None)
contains.head()

                            0               1         2
0                   surf_turf           steak  2_steaks
1                   surf_turf          shrimp     .5_lb
2  korean_chicken_sandwhiches  chicken_breast    1_pack
3  korean_chicken_sandwhiches            buns    5_buns
4  korean_chicken_sandwhiches           panko   eyeball

In [6]:
ingredients = contains[1].unique()
recipes = contains[0].unique()

In [19]:
df = pd.read_csv("data/ingredients.csv", header=None)
df.head()

ingredients = pd.DataFrame(ingredients, columns=['ingredients'])
# ingredients.to_csv("ingredients.csv", index=None)

In [20]:
df = pd.concat([df, ingredients], axis=1)
df.head()
# df.columns = ["ingredients", "type", "display_name"]

# df2 = [['ingredients', 'display_name', 'type']]
# df2.head()

                0          1     ingredients
0           steak    protein           steak
1          shrimp    protein          shrimp
2  chicken_breast    protein  chicken_breast
3            buns      bread            buns
4           panko   packaged           panko

In [22]:
df.columns = ["ingredients", "type", "display_name"]

df2 = df[['ingredients', 'display_name', 'type']]

In [8]:
recipes = pd.DataFrame(recipes, columns=['recipes'])
recipes.to_csv("recipes.csv", index=None)

In [23]:
df2.head()

      ingredients    display_name       type
0           steak           steak    protein
1          shrimp          shrimp    protein
2  chicken_breast  chicken_breast    protein
3            buns            buns      bread
4           panko           panko   packaged

In [25]:
df2.to_csv('ingredients3.csv', index=None)